@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  /* transition: 100ms ease-in-out; */
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

:root {
  /*? Dark Theme Colors */
  --dark-theme-text-color: #ffffff;
  --dark-theme-bg-color: #000000;
  --dark-theme-border-color: #ffffff;

  /*? Light Theme Colors */
  --light-theme-text-color: #222831;
  --light-theme-bg-color: #f5b32f;
  --light-theme-border-color: #222831;

  --static-background: #ebebeb;
  --hover-background: #232ed1;
}

#appName {
  line-height: 120%;
}

.fontSuse {
  font-family: "SUSE", sans-serif;
  font-weight: 700;
}

div::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

div::-webkit-scrollbar-track {
  width: 1px;
  background-color: #cccccc88;
}

div::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  background: #a5a4a4;
}
div::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
  background: #000000;
}

@media screen and (min-height: 900px) {
  #topicDescription {
    height: 350px;
  }
}

#historySorterActiveBtn {
  transition: 100ms ease-in-out;
  color: #949494;
}
#themeBtn {
  transition: 250ms ease-in-out;
  color: #949494;
}

/* .static {
  background-color: var(--static-background);
}

.hover:hover {
  background-color: var(--hover-background);
} */
#testUserBtn {
  animation: shake 2s ease infinite;
}
#testUserBtn:hover {
  animation: none;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  1% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  2% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  3% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  4% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  5% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  6% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  7% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  8% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  9% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(1px, -2px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
